<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <add key="postgres_hostname" value="127.0.0.1"/>
    <add key="postgres_database" value="csv_importer"/>
    <add key="postgres_username" value="csv_importer"/>
    <add key="postgres_password" value="csv_importer"/>
    <add key="mysql_hostname" value="127.0.0.1"/>
    <add key="mysql_database" value="csv_importer"/>
    <add key="mysql_username" value="csv_importer"/>
    <add key="mysql_password" value="csv_importer"/>
  </appSettings>

</configuration>